[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
torch = "*"
numpy = "==1.21.2"
pandas = "==1.3.3"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
